      <div <% if index == 0%> id="additional_<%= key.to_s %>_clone" <% end %>>
        <%= f.select "work_id", options_for_select(works_for_select, v), include_blank: true %>
        
      </div>
      
