.hero {
  text-align: center;

  h1 {
    font-size: 3em;
  }

  input[type=text] {
    border: 0;
    line-height: 35px;
    padding: 0 10px;
    width: 80%;
  }

  input[type=submit] {
    color: #fff;
    background: #999;
    border: 0;
    font-size: 1em;
    line-height: 35px;
    padding: 0;
    width: 20%;
  }
}