<!DOCTYPE html>
<html>
<head>
  <title>OSF Archives - Home</title>
  <%= stylesheet_link_tag    'osf-client/application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'ember/application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
